@charset "UTF-8";

h1 span{
  font-size: 60.0pt;
  color: #FF0000;
  background-color: #000000;
  line-height: 2.0em;
}

a:link{
  color:0039FD
}
a:visited{
  color:  #990000;
}

#tea{
  font-size: 30.0pt;
  font-weight: bold;
  color: #FFFFFF
  border: #FD0000 1px dotted;
  border-right: #FD0000 1px dotted;
  border-left: #FD0000 1px dotted;
  border-bottom: #FD0000 1px dotted;
}

.edit{
  font-style: italic;
  color: #F2E700;
  text-align: center;
}
