@charset "UTF-8";

h1 span{
  font-size: 60.0pt;
  color: #FF0000;
  line-height: 2.0em;
}

a:link{
  color:0039FD
}
a:visited{
  color:  #990000;
}

#tea{
  background-color: #C82D00;
  color: #FFFFFF
  border: #FD0000 1px dotted;
}

.edit{
  font-style: italic;
  color: #F2E700;
   text-align: center;
}
